:root {
	--radius-base: 2px;

	--radius-xs: calc(var(--radius-base) * 0.25);
	--radius-sm: calc(var(--radius-base) * 0.5);
	--radius-md: var(--radius-base);
	--radius-lg: calc(var(--radius-base) * 1.5);
	--radius-xl: calc(var(--radius-base) * 2);

	--background: oklch(0.9576 0.0016 278.71);
	--surface: oklch(0.9576 0.0016 278.71);
	--foreground: oklch(0.2341 0.0186 107.75);
	--border: oklch(90.975% 0.0001 271.152);

	--tooltip: oklch(0.1985 0.0123 353.84);
	--tooltip-foreground: oklch(0.6956 0 353.84);

	--input: oklch(91.973% 0.00413 285.946);
	--input-foreground: oklch(0.2341 0.0186 107.75);
	--input-placeholder: oklch(55.648% 0.0126 274.738);
	--input-border: oklch(0.4349 0.0296 276.66);

	--modal: oklch(0.9576 0.0016 278.71);
	--modal-foreground: oklch(0.2341 0.0186 107.75);

	--muted: oklch(81.093% 0.00009 271.152);
	--muted-foreground: oklch(0.5071 0.0511 108.09);

	--accent: oklch(0.8693 0.0052 278.64);
	--accent-foreground: oklch(0.5071 0.0511 108.09);

	--primary: oklch(0.3945 0.1576 353.84);
	--primary-foreground: oklch(0.9088 0.0354 343.55);

	--secondary: oklch(0.2837 0.1409 293.61);
	--secondary-foreground: oklch(0.9064 0.0265 304.07);

	--neutral: oklch(0.6956 0 353.84);
	--neutral-foreground: oklch(0.1985 0.0123 353.84);

	--success: oklch(0.7015 0.1554 146.65);
	--success-foreground: oklch(27.435% 0.0764 147.65);

	--info: oklch(0.57 0.148 230.69);
	--info-foreground: oklch(1 0 0);

	--warning: oklch(69.27% 0.14904 62.397);
	--warning-foreground: oklch(1 0 0);

	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(1 0 0);
}
