{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "./src/css/shanty-ui.css",
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "printWidth": 200
            }
        }
    ]
}