body {
  @apply bg-background text-foreground;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accordion-trigger-background: var(--accordion-trigger-background);
  --color-accordion-trigger-foreground: var(--accordion-trigger-foreground);
  --color-accordion-trigger-hover-background: var(
    --accordion-trigger-hover-background
  );
  --color-accordion-trigger-hover-foreground: var(
    --accordion-trigger-hover-foreground
  );
  --color-accordion-panel-background: var(--accordion-panel-background);
  --color-accordion-panel-foreground: var(--accordion-panel-foreground);
  --color-accordion-item-border: var(--accordion-item-border);
  --color-accordion-trigger-ring: var(--accordion-trigger-ring);

  --color-alert-info-background: var(--alert-info-background);
  --color-alert-info-foreground: var(--alert-info-foreground);
  --color-alert-info-border: var(--alert-info-border);

  --color-alert-warning-background: var(--alert-warning-background);
  --color-alert-warning-foreground: var(--alert-warning-foreground);
  --color-alert-warning-border: var(--alert-warning-border);

  --color-alert-error-background: var(--alert-error-background);
  --color-alert-error-foreground: var(--alert-error-foreground);
  --color-alert-error-border: var(--alert-error-border);

  --color-badge-primary-background: var(--badge-primary-background);
  --color-badge-primary-foreground: var(--badge-primary-foreground);
  --color-badge-primary-border: var(--badge-primary-border);

  --color-badge-secondary-background: var(--badge-secondary-background);
  --color-badge-secondary-foreground: var(--badge-secondary-foreground);
  --color-badge-secondary-border: var(--badge-secondary-border);

  --color-badge-neutral-background: var(--badge-neutral-background);
  --color-badge-neutral-foreground: var(--badge-neutral-foreground);
  --color-badge-neutral-border: var(--badge-neutral-border);

  --color-badge-info-background: var(--badge-info-background);
  --color-badge-info-foreground: var(--badge-info-foreground);
  --color-badge-info-border: var(--badge-info-border);

  --color-badge-success-background: var(--badge-success-background);
  --color-badge-success-foreground: var(--badge-success-foreground);
  --color-badge-success-border: var(--badge-success-border);

  --color-badge-warning-background: var(--badge-warning-background);
  --color-badge-warning-foreground: var(--badge-warning-foreground);
  --color-badge-warning-border: var(--badge-warning-border);

  --color-badge-error-background: var(--badge-error-background);
  --color-badge-error-foreground: var(--badge-error-foreground);
  --color-badge-error-border: var(--badge-error-border);

  --color-button-primary-background: var(--button-primary-background);
  --color-button-primary-foreground: var(--button-primary-foreground);
  --color-button-primary-border: var(--button-primary-border);
  --color-button-primary-hover-background: var(
    --button-primary-hover-background
  );
  --color-button-primary-hover-foreground: var(
    --button-primary-hover-foreground
  );
  --color-button-primary-hover-border: var(--button-primary-hover-border);
  --color-button-primary-active-background: var(
    --button-primary-active-background
  );
  --color-button-primary-active-foreground: var(
    --button-primary-active-foreground
  );
  --color-button-primary-active-border: var(--button-primary-active-border);
  --color-button-primary-ring: var(--button-primary-ring);

  --color-button-secondary-background: var(--button-secondary-background);
  --color-button-secondary-foreground: var(--button-secondary-foreground);
  --color-button-secondary-border: var(--button-secondary-border);
  --color-button-secondary-hover-background: var(
    --button-secondary-hover-background
  );
  --color-button-secondary-hover-foreground: var(
    --button-secondary-hover-foreground
  );
  --color-button-secondary-hover-border: var(--button-secondary-hover-border);
  --color-button-secondary-active-background: var(
    --button-secondary-active-background
  );
  --color-button-secondary-active-foreground: var(
    --button-secondary-active-foreground
  );
  --color-button-secondary-active-border: var(--button-secondary-active-border);
  --color-button-secondary-ring: var(--button-secondary-ring);

  --color-button-ghost-background: var(--button-ghost-background);
  --color-button-ghost-foreground: var(--button-ghost-foreground);
  --color-button-ghost-border: var(--button-ghost-border);
  --color-button-ghost-hover-background: var(--button-ghost-hover-background);
  --color-button-ghost-hover-foreground: var(--button-ghost-hover-foreground);
  --color-button-ghost-hover-border: var(--button-ghost-hover-border);
  --color-button-ghost-active-background: var(--button-ghost-active-background);
  --color-button-ghost-active-foreground: var(--button-ghost-active-foreground);
  --color-button-ghost-active-border: var(--button-ghost-active-border);
  --color-button-ghost-ring: var(--button-ghost-ring);

  --color-button-link-foreground: var(--button-link-foreground);
  --color-button-link-hover-foreground: var(--button-link-hover-foreground);
  --color-button-link-active-foreground: var(--button-link-active-foreground);
  --color-button-link-ring: var(--button-link-ring);

  --color-button-destructive-background: var(--button-destructive-background);
  --color-button-destructive-foreground: var(--button-destructive-foreground);
  --color-button-destructive-border: var(--button-destructive-border);
  --color-button-destructive-hover-background: var(
    --button-destructive-hover-background
  );
  --color-button-destructive-hover-foreground: var(
    --button-destructive-hover-foreground
  );
  --color-button-destructive-hover-border: var(
    --button-destructive-hover-border
  );
  --color-button-destructive-active-background: var(
    --button-destructive-active-background
  );
  --color-button-destructive-active-foreground: var(
    --button-destructive-active-foreground
  );
  --color-button-destructive-active-border: var(
    --button-destructive-active-border
  );
  --color-button-destructive-ring: var(--button-destructive-ring);

  --color-dialog-backdrop: var(--dialog-backdrop);
  --color-dialog-background: var(--dialog-background);
  --color-dialog-foreground: var(--dialog-foreground);
  --color-dialog-description-foreground: var(--dialog-description-foreground);

  --color-input-background: var(--input-background);
  --color-input-foreground: var(--input-foreground);
  --color-input-placeholder: var(--input-placeholder);
  --color-input-border: var(--input-border);
  --color-input-ring: var(--input-ring);

  --color-tooltip-background: var(--tooltip-background);
  --color-tooltip-foreground: var(--tooltip-foreground);

  --color-label-foreground: var(--label-foreground);
  --color-label-required: var(--label-required);
}
